:root{
    --primary-color-100: #FFFFFF;
    --primary-color-200: #FFFBDA;
    --primary-color-300: #FFEFF7;
    --primary-color-400: #FFED77;
    --primary-color-500: #FCDDEC;
    --primary-color-600: #000000;
    --secondary-color-100: #888888;
    --secondary-color-200: #B5B5B5;
    --secondary-color-300: #D6D6D6;
    --body-font: 'Average Sans', sans-serif;
    --heading-font: 'Rufina', sans-serif;
}

body{
    font-family: var(--body-font);
    font-size: 21px;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    display: block;
    font-family: var(--heading-font);
    font-weight: 700;
    
    line-height: 120%;
}

h3{
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

h6{
    font-size: 1.67rem;
    margin: 1.5rem 0rem;
}

a{
    text-decoration: none;
    color: var(--primary-color-600);
}

a:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid var(--primary-color-600);
    color: var(--primary-color-600);
}
/* Navigation Bar */
#home{
    background: var(--primary-color-300);
    margin: 0;
    padding:2.35rem 3.33rem;

}
#home ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

#logo{
    flex-grow: 1;
}
.nav-link{
    margin: 0 0 0 1rem;
}

.hamburger{
    display: none;
}

/* Main Header*/
#header{
    background: url('./img/background-cover.png');
    background-size: contain;
    display: flex;
    flex-direction: row;
    gap:30px;
    align-items: center;
    padding: 0rem 3.33rem;
}

#myself{
    /* background-image: linear-gradient(white,white,yellow,pink); */
    width: 45%;
    height: 100%;
    margin: 0;
}

#introductions{
    text-align: center;
}

#introductions h1{
    /* margin: 3em 0em; */
    text-align: left;
    font-size: 3.71em;
}

#introductions h6{
    text-align: left;
    font-weight: 400;
    /* margin: 0px 3rem 0px 0px; */
}

#introductions a{
    /* display: inline; */
    text-align: center;
    font-family: var(--heading-font);
    font-size:1.67rem;
    font-weight: 700;
}

/* About Section */
#about{
    text-align: center;
    padding: 3.33rem;
}

/* Work Section*/
#work{
    background-color: var(--primary-color-200);
    padding: 3.33rem;
    text-align: center;
}
#work-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    /* margin: 3rem 3rem; */
    grid-gap: 3rem;
    overflow: hidden;
}

#work-gallery img{
    width: 100%;
    height: auto;
}

#work-gallery img:nth-child(2){
    grid-column: span(2) / 4;

}

/* Contact Section*/
#contact{
    background:var(--primary-color-600);
    color: var(--primary-color-100);
    padding:3.33rem 6.33rem;
    text-align: center;
}
#contact h6{
    font-weight: 400;
}
#contact a{
    color:white;
}

#contact a:hover{
    border-bottom: 2px solid var(--primary-color-100);
}

#contact-form{
    background: var(--primary-color-300);
    padding: 2.35rem;
    display: grid;
    grid-template: auto auto auto auto / 1fr 1fr;
    grid-gap:1rem 2rem;
    text-align: left;
    /* justify-content: space-evenly; */
}

/* .form-input{
    background: rgba(0, 0, 0, 0.25);
    outline:3px #FFED77 solid;
} */
.form-input > label{
    color:var(--primary-color-600);
    margin-bottom: 1rem;
}

.form-input > input,textarea{
    box-sizing:border-box;
    width: 100%;
}

.form-input > textarea{
    box-sizing: border-box;
    /* padding: 0; */
    /* overflow: hidden; */
    resize: none;
    height: 87%;
}

.form-input > input[type=text],input[type=email], textarea{
    font-size: 0.67rem;
    border-radius: 2px;
    border:1px solid var(--secondary-color-200);
    padding: 0.75rem;
    margin-top:5px;
    outline: none;
}


input::placeholder,textarea::placeholder{
    font-size: 0.87rem;
    color:var(--secondary-color-300);
}

#fullname{
    grid-area: 1 / 1 / 1 / 2;
}
#emailaddress{ 
    grid-area: 2 / 1 / 2 / 1;
}

#email-topic{
    grid-area: 3 / 1 / 3 / 1;
}

#message{
    /* background: #000000; */
    grid-area: 1 / 2 / 4 / 2;
    /* max-height: 100%;/ */
}
#submit{
    grid-area: 4 / 1 / 4 / 3;
    border: 1px solid var;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: black;
    color:white;
    justify-self: center;
}
#submit:hover{
    cursor: pointer;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);

} 

/* Footer CSS */

footer{
    padding: 1.3rem 3.33rem;
    text-align: center;
    position: relative;
}

footer > p{
    color:var(--secondary-color-200)
}

#socialmedia{
    display: flex;
    align-content: center;
    justify-content: center;
    gap:20px;
}

.link > a{
    border: none;
}


#gotohome{
    position: absolute;
    bottom:2rem;
    right:0rem;
}

.iconify:hover{
    cursor: pointer;
    color: var(--primary-color-400);
}

/* Responsive Design */

@media screen and (max-width:1030px){
    body{
        font-size: 14px;
    }
    #calltoaction p{
        font-size: 18px;
    }

    #form{
        padding:2rem;
        display: flex;
        justify-content:space-evenly;
        /* align-items:center; */
    }
    #submitarea h1{
        font-size:36px;
    }

    #formarea{
        padding: 0 0 0 18px;
        display: flex;
        flex-direction: column;
        flex-shrink:0;

    }

    input[type=text], textarea{
        padding: 10px;
        width:100%;
        
    }
    .forminput label,input,textarea{
        font-size: 14px;
    }
}

@media screen and (max-width: 560px){
    body{
        font-size:14px;
    }

    nav{
        padding:1rem;
        margin:2rem;
        justify-content: flex-end;
    }

    .navbar{
        margin:0;
    }

    #logo{
        flex-grow:1;
    }

    
    .hamburger{
        display: block;
    }

    .navbar a{
        display: none;
    }

    #mywork{
        display:none;
    }

    #home{
        flex-direction: column;
    }

    #myself{
        width:100%;
    }

    #calltoaction{
        padding:3rem;
        margin:0;
    }

    #calltoaction button{
        padding: 15px;
        margin: 10px 0px;
        background-color: pink;
        border:none;
        border-radius:0;
        width:100%;
    }

    #myownwork{
        display:flex;
        flex-direction: column;
    }

    #form{
        display:flex;
        flex-direction: column;
        border-radius: 0;
    }

    #submitarea h1{
        font-size:24px;
        text-align: center;
    }

    #submit{
        width:100%;
        border-radius: 0;
    }

    #formarea{
        width:100%;
    }

    #gotohome{
        font-size: 3rem;
     }

}